body{
    min-height: 100vh;
    display: block;
    padding: 0;
    margin: 0px;
    overflow-x: hidden;  
}

.nav-wrapper{
    padding-left: 20px;
    margin-top: -60px;
    font-size: 25px;
    text-decoration-color: white;
}
.logo{
    margin-top: 100px;
    margin-left: 180px;
    font-stretch: expanded;
}

.content-wrapper{
    justify-content: center;
    display: flex;
}
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    justify-content: center;
}
.wrapper-a{
    line-height: 20px;
    font-stretch:extra-condensed;
    font-size:14px;
    float: left;
    padding-left: 200px;
    padding-right: 100px;
    height: auto;
    text-justify: distribute;
    display: grid;
}
.wrapper-b {
    line-height: 20px;
    font-stretch:extra-condensed;
    font-size: 14px;
    float: right;
    text-justify: distribute;
    padding-left: 100px;
    padding-right: 200px;
    height: auto;
    display:grid;
}

/*-------items----------*/
.portfolio-items-wrapper{
    background: transparent;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.card-wrapper{
    padding:20px;
    margin-bottom: 30px;
   
}

.photo-item {
    position: relative;
    margin-bottom:0px;
    padding-bottom:0px;
    max-width:280px;
    max-height: 157.6px;
    background-color:transparent;
    display:flex;
    align-content: center;
    
    display: block;
}
.portfolio-items-wrapper p{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    max-width: 280px;
    height: 40px;
    text-align: center;
    margin-top:-4px ;
    padding-top: 10px;
    

}

/*--------------paragraph stuff---------*/
#content-paragraph{
    padding-left: 200px;
    padding-right: 200px;
    text-justify: distribute;
    padding-bottom: 50px;
    
}

/*----------media queries-------*/
@media screen and (max-width:768px) {
    #content-paragraph {
        padding-left: 30px;
        padding-right: 30px;
        /* The paddings change when the view port is 768pixels or lower */
    }
    .wrapper-a{
        padding-left: 30px;
        padding-right: 20px;

    }
    .wrapper-b{
        padding-left: 20px;
        padding-right: 30px;
    }
    .logo {
        margin-left: 25px;
        font-stretch: expanded;
    }
    .copyright{
        padding-left:200px;
     
    }
}

@media screen and (min-width:769px) and (max-width:100px){
    .footer {
        width: 100%;
    }
}
    

/*-----------footer stuff-----------*/
.container-footer {
    width: 100%;
    background:#ccc;
    margin:0px;
    justify-content:space-between;
    display: flex;
    
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    justify-content: center;
}
/*-----------copyright section*/
.copyright {
    display: flex;
    float: left;
    color: rgb(114, 114, 114);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-left: 200px;
    padding-right: 100px;
}
.copyright h4 {
    margin: 0px;
}

.copyright a {
    text-decoration: none;
    color: rgb(33, 38, 56);
    font-weight: bold;
}
 /*--------------socials/information column------------*/
.information {
    display: flex;
    float: right;
    padding-left: 200px;
    float: right;
    font-size: 20px;
    padding-right: 190px;
}

.information a {
    text-decoration: none;
    color: rgb(33,38,56);
}

/*this contains formattings for the list items in the footer and the imported social media icons*/
.ul{
    text-align: left;
    font: weight 100;
    margin-top: -20pxpx;
    position: relative;
}

.fa-instagram{
    background:transparent;
    color: rgb(114, 114, 114);
}
.fa-twitter{
    background: transparent;
    color: rgb(114,114,114);
}








